body {
    background-color: #1f1f1f;
    color: white;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.titulo {
    text-align: center;
    margin-top: 5%;
    font-size: 4em;
    font-weight: bolder;
    user-select: none;
}

.titulo a#aHTML, .titulo a#aHTML:link:visited:active{
    text-decoration: none;
    color: rgb(241, 101, 45);
}

.tituloHTML {
    color: rgb(241, 101, 45);
}

.tituloCSS {
    color: rgb(74, 178, 216);
}

.subtitulo {
    text-align: center;
    margin-top: 2.5%;
    font-size: 2em;
    font-weight: bolder;
}

.texto {
    margin-left: 3.75%;
    margin-right: 3.75%;
    margin-top: 0.5%;
    text-align: justify;
    line-height: 145%;
    padding: 1%;
    border-left: rgba(241, 101, 45, 0.5) solid;
    background-color: #2e2e2e;
}

.texto:hover {
    background-color: #3d3d3d;
    border-left: rgba(241, 101, 45, 1) solid;
}

.linkEnTexto {
    color: #bbbbbb;
    font-weight: bold;
}

.linkEnTexto:hover{
    color: white;
    font-weight: bold;
}