body {
    background-color: #1f1f1f;
    color: white;
    font-family: Verdana, Helvetica, Arial, sans-serif;

}

.titulo {
    text-align: center;
    margin-top: 5%;
    font-size: 4em;
    font-weight: bolder;
    user-select: none;
}

.tituloHTML:hover {
    color: rgb(241, 101, 45);

}

.tituloCSS:hover {
    color: rgb(74, 178, 216);

}
