body {
    background-color: #1f1f1f;
    color: white;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

::-moz-selection { /* Texto seleccionado en firefox */
    color: black;
    background: whitesmoke;
}

::selection { /*Texto seleccionado*/
    color: black;
    background: whitesmoke;
}

.titulo {
    text-align: center;
    margin-top: 3%;
    font-size: 4em;
    font-weight: bolder;
    user-select: none;
}

.titulo a#aHTML,
.titulo a#aHTML:link:visited:active {
    text-decoration: none;
    color: rgb(241, 101, 45);
}

.titulo a#aCSS,
.titulo a#aCSS:link:visited:active {
    text-decoration: none;
    color: rgb(74, 178, 216);
}

.tituloHTML {
    color: rgb(241, 101, 45);
}

.tituloCSS {
    color: rgb(74, 178, 216);
}

.subtitulo {
    text-align: center;
    margin-top: 2.5%;
    font-size: 2em;
    font-weight: bolder;
}

.textoHTML {
    margin-left: 3.75%;
    margin-right: 3.75%;
    margin-top: 0.5%;
    text-align: justify;
    line-height: 145%;
    padding: 1%;
    border-left: rgba(241, 101, 45, 0.5) solid;
    background-color: #2e2e2e;
    position: relative;
    overflow: auto;
}

.textoHTML:hover {
    background-color: #3d3d3d;
    border-left: rgba(241, 101, 45, 1) solid;
}

.textoCSS {
    margin-left: 3.75%;
    margin-right: 3.75%;
    margin-top: 0.5%;
    text-align: justify;
    line-height: 145%;
    padding: 1%;
    border-left: rgba(74, 178, 216, 0.5) solid;
    background-color: #2e2e2e;
    position: relative;
    overflow: auto;
}

.textoCSS:hover {
    background-color: #3d3d3d;
    border-left: rgba(74, 178, 216, 1) solid;
}

hr {
    border-width: 1px;
}

.linkEnTextoHMTL {
    color: #facab7; /*~30% más claro que el color HTML principal*/
    font-weight: bold;
}

.linkEnTextoHMTL:hover {
    color: white;
    font-weight: bold;
}

.linkEnTextoCSS {
    color: #c0e4f2; /*~30% más claro que el color CSS principal*/
    font-weight: bold;
}

.linkEnTextoCSS:hover {
    color: white;
    font-weight: bold;
}

.codigoEjemploHTML {
    color: #facab7; /*~30% más claro que el color HTML principal*/
    
}

pre.codigoEjemploHTML {
    font-size: 1.25em;
    border: 1px solid white;
    padding-left: 15px;
    background-color: #481805; /*~40% más oscuro que el color HTML principal*/
}

.codigoEjemploHTML::-moz-selection { /* Texto seleccionado en firefox */
    color: black;
    background: #facab7;
}

.codigoEjemploHTML::selection { /*Texto seleccionado*/
    color: black;
    background: #facab7;
}

.codigoEjemploCSS {
    color: #c0e4f2; /*~30% más claro que el color CSS principal*/
}

.codigoEjemploCSS::-moz-selection { /* Texto seleccionado en firefox */
    color: black;
    background: #c0e4f2;
}

.codigoEjemploCSS::selection { /*Texto seleccionado*/
    color: black;
    background: #c0e4f2;
}

pre.codigoEjemploCSS {
    font-size: 1.25em;
    border: 1px solid white;
    padding-left: 15px;
    background-color: #0d323f; /*~40% más oscuro que el color HTML principal*/
}

#imgElementosSemanticos {
    float: right;
    margin-left: 1.5%;
    margin-top: 1%;
    margin-right: 45%;
    border: solid black;
}

iframe {
    margin-top: 1%;
}

#rubrica th{
    font-weight: bold;
    background-color: rgba(194, 214, 155, 1);
    color: black;
    border: 1px solid black ;
    text-align: center;
}

#rubrica td{
    background-color: white;
    color: black;
    border: 1px solid black ;
    padding: 15px;
}

#rubrica td.catData {
    background-color:rgba(251, 212, 180, 1);
}

.colorSample {
    padding: 5px;
    color: gray;
    font-weight: bold;
}